body {
    font-family: 'Montserrat', sans-serif;
    background-color: steelblue;
}

.container {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #b3b3b3;
    padding: 0px 20px 0px 20px;
    width: 665px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

img {
    width: 335px;
    height: 250px;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
}

@media (max-width: 798px) {
    li {
        flex-wrap: wrap;
        width: 340px;
    }
    img {
        margin: 0;
        padding: 20px 0 10px 0;
    }
}

@media (max-width: 375px) {
    li {
        flex-wrap: wrap;
        width: 300px;
    }
    img {
        margin: 0;
        padding: 20px 0 10px 0;
        width: 300px;
    }
}

span{
    font-weight: bold;
}
